@import '../../utils/_breakpoints';

.home_container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 60px;

  @include tablet_lg {
    grid-template-columns: 4fr 1fr;
  }
}